@import url('https://fonts.googleapis.com/css2?family=Oswald');

*root{
    --grid-cols:1;
    --grid-cols:1;
}
.page{
    background-color: rgb(23, 23, 54);
    height: 100vh;
}
.navigation{
    display: flex;
    padding-top: 7%;
    padding-bottom: 5%;
    justify-content: center;
    font-size: 50px;
    font-family: Oswald;
    color: rgb(0, 153, 248);
    font-weight: bold;
}
.section{
    display: flex;
    height: inherit;
    background-color: rgb(23, 23, 54);
}

.nav-left{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-self: center;
    align-items: center;
    justify-content: center;
    color:rgb(0, 153, 248);
}

#grid{
    display: grid;
    width: 60%;
    height: inherit;
    margin-right: 10%;
    margin-bottom: 10%;
    /* grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10,1fr); */
}


.grid-item{
    background-color: white;
    border: 1px solid rgb(206, 206, 206);
}

.btn{
    display: flex;
    flex-direction: column;
    margin: 5%;
    width: 50%;
    height: 6%;
    border: 1px solid rgb(0, 153, 248);
    background-color: rgb(23, 23, 54);
    color:rgb(0, 153, 248);
    justify-content: center;
    font: bolder;
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#clear-btn{
    display: flex;
    flex-direction: column;
    margin: 5%;
    width: 50%;
    height: 6%;
    border: 1px solid rgb(0, 153, 248);
    background-color: rgb(23, 23, 54);
    color:rgb(0, 153, 248);
    justify-content: center;
    font: bolder;
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn:focus{
    background-color:dodgerblue;
    color: black;
}

#clear-btn:focus{
    background-color: dodgerblue ;
    color: black;
}

